@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.login-header>h3{
    font-size: 22px;
    color: #4C57B6;
}
.login-page {
  width: 380px;
  height: 400px;
  padding: 8% 0 0;
  margin: auto;
  margin-top: 60px;
}
.enter {
    font-size: 11px;
}
.login-page .form .login{
  margin-top: -31px;
margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 1px solid rgb(223, 216, 216);
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 12px;
}
.login-form button {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background-color: #4C57B6;
  width: 100%;
  border: 0;
  height: 40px;
  color: #FFFFFF;
  font-size: 12px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 15px;
}
.form .message a {
    font-weight: bold;
  color: #4C57B6;
  font-size: 13px;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

body > .login-page {
  background-color: #F5F5F5;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dont{
  
  font-size: 15px;
}
.showhide {
  cursor: pointer;
  position: absolute;
  width: 20px;
  right: 60px;
  top: 200px;
  opacity: 0.5;
}